.svg {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  position: relative;
  cursor: default;
}

.clickableSvg {
  transition: transform 0.3s ease;
  cursor: pointer;
  z-index: 10;
}

.clickableSvg:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.svgCircleBg {
  fill: none;
}

.svgCircle {
  fill: none;
}
.svgCircleText {
  font-size: 0.8rem;
  fill: #333;
}

.info {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.infoImg {
  width: 20px;
}
